@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,700;1,14..32,700&family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: 'Inter', sans-serif;
    --font-heading: 'Manrope', sans-serif;

    --color-primary: rgb(40 106 73);
    --color-on-primary: rgb(255 255 255);
    --color-primary-container: rgb(173 242 199);
    --color-on-primary-container: rgb(5 82 50);

    --color-secondary: rgb(78 99 85);
    --color-on-secondary: rgb(255 255 255);
    --color-secondary-container: rgb(208 232 214);
    --color-on-secondary-container: rgb(55 75 62);

    --color-tertiary: rgb(60 100 113);
    --color-on-tertiary: rgb(255 255 255);
    --color-tertiary-container: rgb(191 233 249);
    --color-on-tertiary-container: rgb(34 76 89);

    --color-error: rgb(186 26 26);
    --color-on-error: rgb(255 255 255);
    --color-error-container: rgb(255 218 214);
    --color-on-error-container: rgb(147 0 10);

    --color-surface-variant: rgb(220 229 220);
    --color-on-surface-variant: rgb(64 73 66);

    --color-outline: rgb(113 121 114);
    --color-outline-variant: rgb(192 201 192);

    --color-background: rgb(246 251 244);
    --color-on-background: rgb(23 29 25);

    --color-shadow: rgb(0 0 0);
    --shadow-inset-B: inset 0 4px 4px rgba(0, 0, 0, 25%);

    --color-dark-primary: rgb(146 213 172);
    --color-dark-surface-tint: rgb(146 213 172);
    --color-dark-on-primary: rgb(0 57 33);
    --color-dark-primary-container: rgb(5 82 50);
    --color-dark-on-primary-container: rgb(173 242 199);

    --color-dark-secondary: rgb(181 204 187);
    --color-dark-on-secondary: rgb(33 53 40);
    --color-dark-secondary-container: rgb(55 75 62);
    --color-dark-on-secondary-container: rgb(208 232 214);

    --color-dark-tertiary: rgb(163 205 220);
    --color-dark-on-tertiary: rgb(4 53 65);
    --color-dark-tertiary-container: rgb(34 76 89);
    --color-dark-on-tertiary-container: rgb(191 233 249);

    --color-dark-error: rgb(255 180 171);
    --color-dark-on-error: rgb(105 0 5);
    --color-dark-error-container: rgb(147 0 10);
    --color-dark-on-error-container: rgb(255 218 214);

    --color-dark-background: rgb(15 21 17);
    --color-dark-on-background: rgb(223 228 221);

    --color-dark-surface-variant: rgb(64 73 66);
    --color-dark-on-surface-variant: rgb(192 201 192);

    --color-dark-outline: rgb(138 147 139);
    --color-dark-outline-variant: rgb(64 73 66);

    --color-dark-shadow: rgb(0 0 0);
}
@layer base {
    body {
        box-sizing: border-box;
        font-family: var(--font-sans);
        background-color: var(--color-surface-variant);
        color: var(--color-on-surface-variant);
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: var(--font-heading);
    }
}
@layer components {
    .btn-primary {
        @apply bg-primary text-on-primary px-4 py-4 w-40 rounded-md dark:bg-dark-primary dark:text-dark-on-primary;
    }
}